.container {
    display: flex;
    width: 100%;
    height: 90vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.animation {
    /* background-image: url('../../assets/visitors/animation.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 45vw;
    height: 50vh;
    margin-left: 3vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

.animation::before {
    content: "";
    width: 30vw;
    height: 32vh;
    background-image: url('../../assets/visitors/React\ Redux\ App\ -\ Google\ Chrome\ 2022-09-23\ 02-41-41.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: -5vw;
    margin-top: 2vh;
    border: 1px solid #111828;
}

.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    gap: 50px;
    color: #111828;
}

.tittle {
    font-size: 3.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

@media screen and (max-width: 1366px){
    .animation::before {
        content: "";
        width: 28vw;
        height: 32vh;
        background-image: url('../../assets/visitors/React\ Redux\ App\ -\ Google\ Chrome\ 2022-09-23\ 02-41-41.gif');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        display: flex;
        margin-left: -8vw;
        margin-top: 2vh;
        border: 1px solid #111828;
    }
}