@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Oswald';
  src: url('../public/assets/fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Tiro';
  src: url('../public/assets/fonts/TiroDevanagariHindi-Italic.ttf');
}

body {
  margin: 0;
  background-color: rgb(248 250 252);
  height: 100vh;
}

#root {
  min-height: 100%;
  height: fit-content;
  font-family: 'Oswald';
}

.swal2-modal {
  background-color: #f1f1f1;
  width: 25em;
  padding: 12px 0;
  box-shadow: 0 4px 10px #000e3e55;
}
.swal2-actions {
  width: 100%;
  padding: 0;
  margin: 30px 0 10px;
}
.swal2-confirm {
  width: 50%;
}
.swal2-styled.swal2-cancel {
  color: #0a131c;
}
.swal2-material-ui-icon {
  font-size: 24px;
  color: #00bcd4;
}

/* mixin */
.swal2-top-end{
  margin-top: 100px;
  width: fit-content !important;
}