
.container{

    background-color: rgb(203, 105, 105);
    width: 100%;

}

.Carousel
{

margin: 200;
height: 100px;
width: 1000px;
margin-bottom: 50%;
margin-bottom: 500px;
}

.buttonBanner{

margin : 70px;
right: 300px;
}

.CarruselDePromos{
margin-right: 200px;
flex: content;
    
}

.foto1{
    border-radius: 30%;
    width: 20%;    
    height: 20%;
    display:flex;
    flex-direction: row ;
    

}

.fotos{
    display: flex;
    flex-direction: row ;
    justify-content:space-around ;
    margin: 10px;
    margin-top: 1px;

}


    .Video{
        height: 300px;
        width: 100%;
        

    }

    .FrasesMotivacionales{
        margin: top;
        background-color: red;
        height: 200px


    }
.image{
    width: 200px;
    margin-left: 1200px;
    background-color: blue;
    height: 150px;

}

.bannerFinal{
    margin: 200;
    background-color: green;
    height: 200px


}
.image2{
    width: 200px;
    margin-left: 50px;
    background-color: blue;
    height: 200px;

}



.Footer{

    background-color: rgb(110, 110, 126);
}

.AboutUs{
    font-size: larger;
    background-color: aqua; 

}