#scrollUp {
position: fixed;
bottom: 70px;
right:20px;
display:block;
border: 2px solid #374151;
padding: 5px 15px;
font-size: 1.9rem;
font-weight: bold;
cursor: pointer;
transition: all 400ms ease;
transform: scale(0);
border-radius: 28px;
z-index: 50;
}

#scrollUp:hover {
transform: scale(1.1);
background-color: #374151;
color: white;
}