.container {
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tittle {
    color: #111828;
    font-size: 3.5rem;
    font-weight: 500;
    align-self: center;
    margin: 0;
    padding: 0;
}

.container_2 {
    display: flex;
}

.img {
    background-image: url('../../assets/visitors/visitor_6_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 60vh;
    z-index: 0;
    position: relative;
    right: 5vw;
    top: -10vh;
}

.container_3 {
    background-color: #111828;
    width: 25vw;
    height: 60vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tittle_2 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.text {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    align-self: flex-start;
    margin-left: 25px;
}

.btn {
    color: #111828;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    width: 50%;
    height: 40px;
}
.btn:hover {
    background-color: #FF7D00;
    color: white;
    cursor: pointer;
}