a {
    position: relative;
    text-decoration: none;
    color: red;
}
a:after {
    content: '';
    height: 1px;
    bottom: -4px;
    position: absolute;
    left: 5%;
    right: 95%;
    background: red;
    transition: right 0.25s ease-in-out;
}
a:hover:after {
    right: 5%;
}