


 a  {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

li:hover, li:focus , a:hover , a:focus {
    background-size: 100% 2px;
    color: white;
}

